@import "../../styles/global.scss";

#projects {
  h2 {
    color: $color-primary;
  }

  .ant-card {
    .ant-card-meta-title {
      color: $color-dark;
      font-weight: bold;
    }

    .description-highlight {
      color: $color-dark;
    }
  }
}
