@import "../../styles/global.scss";

.custom-tabs .ant-tabs-nav .ant-tabs-tab {
  box-shadow: none;

  // Custom active tab underline color
  &:hover,
  &:active,
  &.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: $color-dark;
  }

  &.ant-tabs-tab-active::after {
    border-color: $color-dark;
  }
}

// Custom active tab underline
.custom-tabs .ant-tabs-nav .ant-tabs-ink-bar {
  background-color: $color-dark;
}

.navigation-tabs {
  .navigation-language-dropdown {
    display: flex;
    justify-content: end;

    div {
      display: flex;
      align-items: center;
    }
  }

  .tabs-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;

    .custom-tabs {
      flex-grow: 1;
    }

    .language-dropdown-icon {
      font-size: 20px;
      cursor: pointer;
      margin-left: 16px;
      transition: color 0.3s;
      color: $color-dark;

      &:hover {
        color: $color-primary;
      }
    }

    .flag-icon {
      width: 24px;
      height: 24px;
      margin-right: 8px;
      vertical-align: middle;
    }
  }
}
