.contact-section {
  padding: 2em;
  background-color: #f4f4f4;

  .contact-content {
    color: #876fa7;

    a {
      text-decoration: none;
      color: #be90b5;
      margin-left: 0.3em;
    }
  }
}
