@import "../../styles/global.scss";

.navbar {
  background-image: url("../../assets/navbar-background.png");
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;

  .navbar-text {
    color: white;
    text-align: center;

    h1,
    h2,
    code {
      color: white;
    }

    code {
      display: block;
    }
  }

  .nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;

    a {
      color: white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .name {
    font-size: 2em;
    font-weight: bold;
  }

  .tagline {
    font-size: 1.2em;
  }
}
